// 生成svg  app.heazy.studio
// 登录界面的背景
body {
    margin: 0px;
}
.wrap_container{
    height: 100vh;
    // width: 100vw;
    background-image: url('../../assets/d02.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

//登录界面的半透明的白背景,带图片

.whiteBg{
    width: 95vw;
    height: 90vh;
    background-color: #fff;
    opacity: .9;
    margin:5vh auto;
    border-radius: 20px;
    background-image: url('../../assets/d06.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;
}

// 右侧登录框，背景不透明
.logoWrap {
    position: absolute;
    top:30vh;
    right: 10vw;

}